---
import Layout from '../layouts/Layout.astro';
import TopHeader from '../components/TopHeader.astro';
import Header from '../components/Header.astro';
import  SpeedInsights  from "@vercel/speed-insights/astro"
import Hero from '../components/Hero.astro';
---

<Layout title="Starlink Venezuela">
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Righteous&display=swap" rel="stylesheet">
	</head>
	<main>
		<TopHeader />
		<Header />
		<Hero />
	    <SpeedInsights />
	</main>
</Layout>
<style>
	
</style>